/* Table from Material Design (https://material.io/components/data-tables) */
.table-container {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsla(0, 0%, 0%, 0.12);
  display: inline-flex;
  flex-direction: column;
  margin: 2.4rem 0 4rem 0;
  overflow-x: auto;
  max-width: min-content;
}

@media (max-width: 456px) and (orientation: portrait) {
  .table-container {
    max-width: 30rem;
  }
}

.table {
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
}

.table__header-cell {
  font-weight: 550;
  line-height: 1.375rem;
  padding: 1.6rem;
}

.table__row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: hsla(0, 0%, 0%, 0.12);
}

.table__cell {
  line-height: 1.25rem;
  padding: 1.6rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  /*fix it on mobile*/
}
